<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale1=1.0">
        <title>Vegetable price forecasting</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>Vegetable Price Forecasting</h1>
            <form action="/forecast" method="post">
                <button type="submit">Get Forecast</button>
            </form>
            <div id="result"></div>
        </div>
    </body>
</html>